<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>2HTML</title>
    <!-- js import -->
    <script src="../lib/main/js/jquery-1.8.2.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>


    <script src="../lib/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.js"></script>
    <script src="../lib/noty/jquery.noty.js"></script>
    <script src="../lib/noty/layouts/center.js"></script>
    <script src="../lib/noty/layouts/topRight.js"></script>
    <script src="../lib/noty/themes/default.js"></script>
    <script src="../lib/main/js/jquery.json-2.3.js"></script>

    <!-- CSS -->
    <style type="text/css">
        .table_name {
            font-family: Tahoma;
            font-size: 11px;
            font-style: normal;
            color: #135386;
            font-weight: bold;
        }
        .table_field {
            font-family: "Times New Roman", Times, serif;
            font-size: 12px;
            font-style: normal;
            color: #666666;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/jquery-ui-1.9.1.custom/css/smoothness/jquery-ui-1.9.1.custom.css">


    {% block head %}

    {% endblock %}
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2013 by <a href="mailto:dikkini@gmail.com">dikkini</a>.
    {% endblock %}
</div>
</body>
</html>