{% extends "base.jinja2" %}
{% block head %}
    <!-- JS -->
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedBannerId;
            var selectedBannerOldBanner;
            var selectedBannerNewBannerHrefTD;
            var selectedBannerTemplateName;

            $('input[type=radio]').change(function() {
                selectedBannerId = $(this).parents('tr:first').attr('data-bannerid');
                selectedBannerOldBanner = $(this).parents('tr:first').find('td#oldBannerTD').html();
                selectedBannerNewBannerHrefTD = $(this).parents('tr:first').find('td#newBannerHrefTD').html();
                selectedBannerTemplateName = $(this).parents('tr:first').find('td#templateNameTD').html();
            });

            $('#addBanner').click(function () {
                $('#addBannerModal').modal('show');
            });

            $('#editBanner').click(function () {
                $('#editNewBannerHref').text(selectedBannerNewBannerHrefTD);
                $('#editOldBannerText').text(selectedBannerOldBanner);
                $('#editTemplate').val(selectedBannerTemplateName);

                $('#editBannerModal').modal('show');
            });

            $('#editBannerButton').click(function(){
                $.post("/editbanner", { bannerId: selectedBannerId, oldbanner: $('#editOldBannerText').val(),
                    newbannerhref: $('#editNewBannerHref').val(), template: $('#editTemplate').val() } );
                $('#editBannerModal').modal('hide');
                window.location.reload(true);
            });

            $('#deleteBanner').click(function() {
                $.post("/delbanner", { bannerId: selectedBannerId } );
            })
        })
    </script>
{% endblock %}

{% block content %}
<div class="well">
    <table id="allBannersTable" class="table table-bordered" width="50%">
        <th></th>
        <th>Исходный баннер</th>
        <th>Полученный баннер</th>
        <th>Линк перехода нового баннера</th>
        <th>HTML код нового баннера</th>
        <th>Название шаблона для нового баннера</th>
        <th>Ссылка на страницу с новым баннером</th>
        {% for data in banners %}
            <tr data-bannerid="{{ data.id }}">
                <td><input name = "radBtn" type="radio"></td>
                <td id = "oldBannerTD">{{ data.oldBanner | safe }}</td>
                <td id = "newBannerTD">{{ data.newBanner | safe }}</td>
                <td id = "newBannerHrefTD">{{ data.newBannerHref }}</td>
                <td class = "table_field">{{ data.newBanner }}</td>
                <td id = "templateNameTD" class="table_field">{{ data.templateName }}</td>
                <td><a href="/banner/{{ data.id }}/{{ data.templateName }}">link</a></td>
            </tr>
        {% endfor %}
    </table>
<div class="controls">
    <button type="button" class="btn" id="addBanner">Добавить новый баннер</button>
    <button type="button" class="btn" id="editBanner">Редактировать баннер</button>
    <button type="button" class="btn" id="deleteBanner">Удалить баннер</button>
</div>
</div>



<!-- Модальное окно добавление баннера -->
<div id="addBannerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Добавление баннера</h3>
    </div>
    <div class="modal-body">
        <form id="addBannerForm" action="/getbanner" method="post">
            <p>
                <label for="addOldBannerText"> Вставьте код баннера: </label>
                <textarea type="text" id="addOldBannerText" name="oldbanner"></textarea>

                <label for="addNewBannerHref">Вставьте линк перехода: </label>
                <textarea type="text" id="addNewBannerHref" name="newbannerhref"></textarea>

                <label for="addTemplate">Выберите шаблон: </label>
                <select name="template" id="addTemplate">
                    {% for template in templates %}
                        <option>{{ template }}</option>
                    {% endfor %}
                </select>
            </p>
        <div class="controls">
            <input type="submit" class="btn" value="Добавить"/>
            <input type="reset" class="btn" data-dismiss="modal" aria-hidden="true" value="Закрыть"/>
        </div>
        </form>
    </div>
</div>

<!-- Модальное окно редактирования баннера -->
<div id="editBannerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalLabel">Редактирование баннера</h3>
    </div>
    <div class="modal-body">
        <form id="editBannerForm" action="/editbanner" method="post">
            <p>
                <label for="editOldBannerText"> Вставьте код баннера: </label>
                <textarea type="text" id="editOldBannerText" name="oldbanner"></textarea>

                <label for="editNewBannerHref">Вставьте линк перехода: </label>
                <textarea type="text" id="editNewBannerHref" name="newbannerhref"></textarea>

                <label for="editTemplate">Выберите шаблон: </label>
                <select id="editTemplate" name="template">
                    <option selected value=""></option>
                    {% for template in templates %}
                        <option>{{ template }}</option>
                    {% endfor %}
                </select>
            </p>
        </form>
        <div class="controls">
            <input type="button" id="editBannerButton" class="btn" value="Сохранить"/>
            <input type="reset" class="btn" data-dismiss="modal" aria-hidden="true" value="Закрыть"/>
        </div>
    </div>
</div>
{% endblock %}

{##}
{#<form id='sampleform' method='get' action='/getbanner' >#}
{#    <p>#}
{#        Name: <input type='text' name='Name' />#}
{#    </p>#}
{#    <p>#}
{#        Email: <input type='text' name='Email' />#}
{#    </p>#}
{#    <p>#}
{#        <input type='submit' name='Submit' value='Submit' />#}
{#    </p>#}
{#</form>#}